@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* shared styles */

* {
    font-family: "Quicksand", sans-serif;
}

.display-flex {
    display: flex;
}

.primary-btn {
    color: rgb(255, 255, 255);
    height: 3.25rem;
    width: 12rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 0.6rem;
    border: none;
}



/* navbar styles */

.banner-nav {
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.banner-nav>ul {
    gap: 2rem;
    list-style: none;
}

.banner-nav>ul .nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.banner-nav ul .nav-word-style1{
    color: rgb(254, 163, 1);
}

.banner-nav .nav-word-style2{
    color: rgb(1, 172, 253);
}

.banner-nav .nav-word-style3{
    color: rgb(5, 212, 223);
}

.banner-nav .nav-word-style4{
    color: rgb(93, 88, 239);
}

.toggle-button{
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 2rem;
}

.toggle-button .bar{
    height: 0.25rem;
    width: 100%;
    background-color: black;
    border-radius: 0.75rem;
}


/* banner styles */
.banner-container {
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 3.75rem;
}

.banner-container .banner-title {
    width: auto;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1.5rem;
}

.banner-container .banner-title>span {
    color: rgb(254, 163, 1);
}
.banner-container .banner-title>br+span {
    color: rgb(1, 172, 253);
}

.banner-container .banner-description {
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1.5rem;
}

.banner-container .banner button{
    height: 3.25rem;
    width: 12rem;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    padding: 0.6rem;
    text-align: center;
}

/* curriculum part */
.curriculum-container{
    background: url(../assets/bg.png);
    margin-bottom: 3.75rem;
}
.curriculum-container .curriculum-title{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}
.curriculum-container .card-container{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-right: 8.75rem;
    padding-left: 8.75rem;
}

.curriculum-container .card1{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.curriculum-container .card2{
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.curriculum-container .card3{
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.curriculum-container .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.curriculum-container .card> .card-description {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    text-align: center;
}


.curriculum-container .card>.card-extra{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.curriculum-container .card1>.card-extra{
    color: rgb(100, 200, 255);
}
.curriculum-container .card2>.card-extra{
    color: rgb(240, 170, 0);
}
.curriculum-container .card3>.card-extra{
    color: rgb(135, 0, 255);
}

.curriculum-container .button-container{
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
}
.curriculum-container .button-container>a{
    text-decoration: none;
    padding: 1.5rem;
}
.curriculum-container .previous, .curriculum-container .next{
    color: white;
    background-color: rgb(254, 163, 1);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}
.round{
    border-radius: 100%;
}



/* RWD part */
@media screen and (max-width:576px) {

    .banner-nav,.banner-container{
        margin: 1.25rem;
    }

    .header{
        margin-bottom: 2.2rem;
    }

    /* navbar part */
    .banner-nav {
        width: 100%;
        height: 70px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0.75rem 1rem 0.75rem 1rem;
    }
    .nav-banner-division{
        width: 100%;
        height: 2%;
        border-top: 0.5px solid rgb(254, 163, 1);
    }

    .toggle-button{
        display: flex;
    }

    .banner-nav .logo-container img{
        height: 100%;
    }

    .banner-nav ul>li, .banner-nav button, .banner-nav h1{
        display: none;
    }

    /* banner part */
    .banner-container{
        flex-direction: column-reverse;

    }

    .banner {
        display: flex;
        flex-direction: column;
    }
    .banner-container .banner-title{
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
    }
    .banner-container img{
        width: calc(100% - 0.5rem);
        text-align: center;
    }

    .banner-container .banner-description{
        color: rgb(17, 17, 17);
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
    }

    .banner-container .button-container{
        justify-content: center;
        align-items: center;
    }
}