@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* shared styles */

* {
    font-family: "Quicksand", sans-serif;
}

.display-flex {
    display: flex;
}

.primary-btn {
    color: rgb(255, 255, 255);
    height: 3.25rem;
    width: 12rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 0.6rem;
    border: none;
}



/* navbar styles */

.banner-nav {
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.banner-nav>ul {
    gap: 2rem;
    list-style: none;
}

.banner-nav>ul .nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.banner-nav ul .nav-word-style1{
    color: rgb(254, 163, 1);
}

.banner-nav .nav-word-style2{
    color: rgb(1, 172, 253);
}

.banner-nav .nav-word-style3{
    color: rgb(5, 212, 223);
}

.banner-nav .nav-word-style4{
    color: rgb(93, 88, 239);
}

.toggle-button{
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 2rem;
}

.toggle-button .bar{
    height: 0.25rem;
    width: 100%;
    background-color: black;
    border-radius: 0.75rem;
}


/* banner styles */
.banner-container {
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 3.75rem;
}

.banner-container .banner-title {
    width: auto;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1.5rem;
}

.banner-container .banner-title>span {
    color: rgb(254, 163, 1);
}
.banner-container .banner-title>br+span {
    color: rgb(1, 172, 253);
}

.banner-container .banner-description {
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1.5rem;
}

.banner-container .banner button{
    height: 3.25rem;
    width: 12rem;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    padding: 0.6rem;
    text-align: center;
}

/* RWD part */
@media screen and (max-width:576px) {

    .banner-nav,.banner-container{
        margin: 1.25rem;
    }

    .header{
        margin-bottom: 2.2rem;
    }

    /* navbar part */
    .banner-nav {
        width: 100%;
        height: 70px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0.75rem 1rem 0.75rem 1rem;
    }
    .nav-banner-division{
        width: 100%;
        height: 2%;
        border-top: 0.5px solid rgb(254, 163, 1);
    }

    .toggle-button{
        display: flex;
    }

    .banner-nav .logo-container img{
        height: 100%;
    }

    .banner-nav ul>li, .banner-nav button, .banner-nav h1{
        display: none;
    }

    /* banner part */
    .banner-container{
        flex-direction: column-reverse;

    }

    .banner {
        display: flex;
        flex-direction: column;
    }
    .banner-container .banner-title{
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
    }
    .banner-container img{
        width: calc(100% - 0.5rem);
        text-align: center;
    }

    .banner-container .banner-description{
        color: rgb(17, 17, 17);
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
    }

    .banner-container .button-container{
        justify-content: center;
        align-items: center;
    }
}